@use './variables' as *;
@use './_fonts';
@use './components';
@use './nav';

/*** Uncomment the lines below for debugging ***/
/* * { */
/* 	outline: solid 2px #ff510080 !important; */
/* } */

:root {
    scroll-behavior: smooth;
    overflow: auto;
}

body {
    background-color: surface(0);
    color: on-surface(1);
}

hr {
    height: 2px;
    background-color: primary(5);

    &.vertical {
        height: inherit;
        width: 2px;
    }
}

.content-width {
    @include content-width;
}

:root,
:root .shgrid-wrapper {
    /***
	** Colors
	***/
    --clr-primary-0: 176, 67%, 97%;
    --clr-primary-1: 176, 65%, 94%;
    --clr-primary-2: 176, 62%, 89%;
    --clr-primary-3: 176, 59%, 84%;
    --clr-primary-4: 176, 48%, 63%;
    --clr-primary-5: 176, 42%, 48%;
    --clr-primary-6: 176, 46%, 44%;
    --clr-primary-7: 176, 50%, 40%;
    --clr-primary-8: 176, 59%, 31%;
    --clr-primary-9: 176, 65%, 26%;
    --clr-on-primary-0: 0, 0%, 7.705882352941177%;
    --clr-on-primary-1: 0, 0%, 4.705882352941177%;
    --clr-on-primary-2: 0, 0%, 1.7058823529411766%;
    --clr-secondary-0: 19, 97%, 98%;
    --clr-secondary-1: 19, 95%, 95%;
    --clr-secondary-2: 19, 93%, 92%;
    --clr-secondary-3: 19, 90%, 87%;
    --clr-secondary-4: 19, 82%, 72%;
    --clr-secondary-5: 19, 75%, 61%;
    --clr-secondary-6: 19, 68%, 57%;
    --clr-secondary-7: 19, 62%, 52%;
    --clr-secondary-8: 19, 66%, 42%;
    --clr-secondary-9: 19, 72%, 35%;
    --clr-on-secondary-0: 0, 0%, 7.705882352941177%;
    --clr-on-secondary-1: 0, 0%, 4.705882352941177%;
    --clr-on-secondary-2: 0, 0%, 1.7058823529411766%;
    --clr-surface-0: 220, 11%, 98%;
    --clr-surface-1: 220, 11%, 94%;
    --clr-surface-2: 220, 11%, 91%;
    --clr-surface-3: 220, 11%, 88%;
    --clr-surface-4: 220, 11%, 80%;
    --clr-surface-5: 220, 11%, 78%;
    --clr-surface-6: 220, 11%, 73%;
    --clr-surface-7: 220, 11%, 64%;
    --clr-surface-8: 220, 11%, 58%;
    --clr-surface-9: 220, 11%, 54%;
    --clr-on-surface-0: 0, 0%, 7.705882352941177%;
    --clr-on-surface-1: 0, 0%, 4.705882352941177%;
    --clr-on-surface-2: 0, 0%, 1.7058823529411766%;
    --clr-success-0: 158, 94%, 97%;
    --clr-success-1: 158, 91%, 94%;
    --clr-success-2: 158, 88%, 90%;
    --clr-success-3: 158, 84%, 84%;
    --clr-success-4: 158, 71%, 65%;
    --clr-success-5: 158, 60%, 51%;
    --clr-success-6: 158, 62%, 47%;
    --clr-success-7: 158, 67%, 43%;
    --clr-success-8: 158, 76%, 34%;
    --clr-success-9: 158, 82%, 29%;
    --clr-on-success-0: 0, 0%, 7.705882352941177%;
    --clr-on-success-1: 0, 0%, 4.705882352941177%;
    --clr-on-success-2: 0, 0%, 1.7058823529411766%;
    --clr-warning-0: 43, 99%, 97%;
    --clr-warning-1: 43, 98%, 93%;
    --clr-warning-2: 43, 97%, 89%;
    --clr-warning-3: 43, 96%, 83%;
    --clr-warning-4: 43, 91%, 66%;
    --clr-warning-5: 43, 87%, 55%;
    --clr-warning-6: 43, 80%, 52%;
    --clr-warning-7: 43, 78%, 48%;
    --clr-warning-8: 43, 85%, 39%;
    --clr-warning-9: 43, 89%, 33%;
    --clr-on-warning-0: 0, 0%, 7.705882352941177%;
    --clr-on-warning-1: 0, 0%, 4.705882352941177%;
    --clr-on-warning-2: 0, 0%, 1.7058823529411766%;
    --clr-error-0: 0, 97%, 99%;
    --clr-error-1: 0, 96%, 97%;
    --clr-error-2: 0, 95%, 95%;
    --clr-error-3: 0, 93%, 92%;
    --clr-error-4: 0, 88%, 81%;
    --clr-error-5: 0, 84%, 72%;
    --clr-error-6: 0, 74%, 67%;
    --clr-error-7: 0, 65%, 62%;
    --clr-error-8: 0, 49%, 49%;
    --clr-error-9: 0, 55%, 41%;
    --clr-on-error-0: 0, 0%, 7.705882352941177%;
    --clr-on-error-1: 0, 0%, 4.705882352941177%;
    --clr-on-error-2: 0, 0%, 1.7058823529411766%;

    &[theme='dark'],
    &[theme='dark'] .shgrid-wrapper {
        --clr-primary-0: 176, 67%, 97%;
        --clr-primary-1: 176, 65%, 94%;
        --clr-primary-2: 176, 62%, 89%;
        --clr-primary-3: 176, 59%, 84%;
        --clr-primary-4: 176, 48%, 63%;
        --clr-primary-5: 176, 42%, 48%;
        --clr-primary-6: 176, 46%, 44%;
        --clr-primary-7: 176, 50%, 40%;
        --clr-primary-8: 176, 59%, 31%;
        --clr-primary-9: 176, 65%, 26%;
        --clr-on-primary-0: 0, 0%, 7.705882352941177%;
        --clr-on-primary-1: 0, 0%, 4.705882352941177%;
        --clr-on-primary-2: 0, 0%, 1.7058823529411766%;
        --clr-secondary-0: 19, 97%, 98%;
        --clr-secondary-1: 19, 95%, 95%;
        --clr-secondary-2: 19, 93%, 92%;
        --clr-secondary-3: 19, 90%, 87%;
        --clr-secondary-4: 19, 82%, 72%;
        --clr-secondary-5: 19, 75%, 61%;
        --clr-secondary-6: 19, 68%, 57%;
        --clr-secondary-7: 19, 62%, 52%;
        --clr-secondary-8: 19, 66%, 42%;
        --clr-secondary-9: 19, 72%, 35%;
        --clr-on-secondary-0: 0, 0%, 7.705882352941177%;
        --clr-on-secondary-1: 0, 0%, 4.705882352941177%;
        --clr-on-secondary-2: 0, 0%, 1.7058823529411766%;
        --clr-surface-0: 215, 20%, 14%;
        --clr-surface-1: 215, 20%, 18%;
        --clr-surface-2: 215, 20%, 21%;
        --clr-surface-3: 215, 20%, 23%;
        --clr-surface-4: 215, 20%, 25%;
        --clr-surface-5: 215, 20%, 29%;
        --clr-surface-6: 215, 20%, 35%;
        --clr-surface-7: 215, 20%, 40%;
        --clr-surface-8: 215, 20%, 43%;
        --clr-surface-9: 215, 20%, 48%;
        --clr-on-surface-0: 0, 0%, 100%;
        --clr-on-surface-1: 0, 0%, 98.4313725490196%;
        --clr-on-surface-2: 0, 0%, 95.4313725490196%;
        --clr-success-0: 158, 94%, 97%;
        --clr-success-1: 158, 91%, 94%;
        --clr-success-2: 158, 88%, 90%;
        --clr-success-3: 158, 84%, 84%;
        --clr-success-4: 158, 71%, 65%;
        --clr-success-5: 158, 60%, 51%;
        --clr-success-6: 158, 62%, 47%;
        --clr-success-7: 158, 67%, 43%;
        --clr-success-8: 158, 76%, 34%;
        --clr-success-9: 158, 82%, 29%;
        --clr-on-success-0: 0, 0%, 7.705882352941177%;
        --clr-on-success-1: 0, 0%, 4.705882352941177%;
        --clr-on-success-2: 0, 0%, 1.7058823529411766%;
        --clr-warning-0: 35, 97%, 99%;
        --clr-warning-1: 35, 95%, 97%;
        --clr-warning-2: 35, 94%, 95%;
        --clr-warning-3: 35, 92%, 92%;
        --clr-warning-4: 35, 86%, 80%;
        --clr-warning-5: 35, 90%, 71%;
        --clr-warning-6: 35, 72%, 66%;
        --clr-warning-7: 35, 63%, 61%;
        --clr-warning-8: 35, 49%, 49%;
        --clr-warning-9: 35, 56%, 40%;
        --clr-on-warning-0: 0, 0%, 7.705882352941177%;
        --clr-on-warning-1: 0, 0%, 4.705882352941177%;
        --clr-on-warning-2: 0, 0%, 1.7058823529411766%;
        --clr-error-0: 0, 97%, 99%;
        --clr-error-1: 0, 96%, 97%;
        --clr-error-2: 0, 95%, 95%;
        --clr-error-3: 0, 93%, 92%;
        --clr-error-4: 0, 88%, 81%;
        --clr-error-5: 0, 84%, 72%;
        --clr-error-6: 0, 74%, 67%;
        --clr-error-7: 0, 65%, 62%;
        --clr-error-8: 0, 49%, 49%;
        --clr-error-9: 0, 55%, 41%;
        --clr-on-error-0: 0, 0%, 7.705882352941177%;
        --clr-on-error-1: 0, 0%, 4.705882352941177%;
        --clr-on-error-2: 0, 0%, 1.7058823529411766%;
    }
}
